@import "../../styles/base";

.intermittent-loader {
  transition: transition(opacity);

  &--enter {
    opacity: 0;

    &-active {
      opacity: 1;
    }
  }

  &--exit {
    opacity: 1;

    &-active {
      opacity: 0;
    }
  }
}
