.activity-details {
  &__name {
    margin: 0 0 1.5rem;
    padding: 0.25em 0;
    font-size: font-size(7);
    font-weight: font-weight(light);
    line-height: line-height(tight);
    resize: none;
  }
}
