.admin {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
  background: themed(background, $admin-theme);
  color: themed(text, $admin-theme);

  &__page {
    display: flex;
    position: relative;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
}
