.public-section {
  position: relative;
  min-height: 100vh;

  .page {
    position: relative;
    flex: 1 0 auto;
    min-height: calc(100vh - 15.5rem);
  }

  .panic-mode {
    @include autopad;

    h1 {
      font-size: font-size(6);
      font-weight: font-weight(light);
    }
  }

  @include themify {
    background: themed(background);
    color: themed(text);
  }
}

.hero-section {
  padding: $padding;
  color: white;

  h1 {
    @include branding-font;

    margin: 0;
    font-size: font-size(9);
    text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.15);
  }

  h2 {
    margin: 0;
    font-size: font-size(3);
    font-weight: font-weight(normal);
  }

  @include media(medium) {
    @include constrained-width($keyline, $padding);
  }
}

