.public-section {
  @include themify {
    background: themed(background);
    color: themed(text);
  }

  // display: flex;
  // position: relative;
  // flex-direction: column;
  // align-items: stretch;
  // min-height: 100vh;

  .page {
    position: relative;
    flex: 1 0 auto;
    min-height: calc(100vh - 10rem);
    // overflow-x: hidden;
  }
}

.homepage {
  padding: $padding;
  text-align: center;

  .logo {
    display: block;
    position: relative;
    max-width: 30rem;
    margin: ($spacing * 3) auto;
    fill: currentColor;

    &__nz,
    &__subtitle {
      opacity: 0.75;
    }

    &__dates {
      opacity: 0.375;
    }
  }

  &__purpose {
    max-width: 30rem;
    margin: 0 auto;
    font-size: font-size(-1);
    line-height: line-height(loose);

    b {
      text-transform: uppercase;
    }
  }

  @include themify {
    .logo {
      color: themed(accent);
    }

    &__purpose {
      color: themed(secondary);
    }
  }
}

.hero-section {
  padding: $padding;
  color: white;

  h1 {
    @include branding-font;

    margin: 0;
    font-size: font-size(9);
    text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.15);
  }

  h2 {
    margin: 0;
    font-size: font-size(3);
    font-weight: font-weight(normal);
  }

  @include media(medium) {
    @include constrained-width($keyline, $padding);
  }
}

.page-content {
}
