$breakpoints: (
  small: 20rem,
  medium: 40rem,
  large: 60rem,
  huge: 80rem
);

$border-radius: 0.25rem;
$padding: 1rem;
$spacing: 1rem;
$keyline: 4.5rem;
$min-full-width: map-get($breakpoints, large) + $padding * 2;

@mixin horizontal-padding($left, $right: $left) {
  padding-right: $right;
  padding-left: $left;
}

@mixin vertical-padding($vertical-padding) {
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
}

@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint: map-get($breakpoints, $breakpoint);
  }

  @media (min-width: #{$breakpoint}) {
    @content;
  }
}

@mixin constrained-width($extra-padding-left: 1rem, $extra-padding-right: $extra-padding-left) {
  padding: $padding $extra-padding-right $padding $extra-padding-left;

  @include media($min-full-width) {
    @include horizontal-padding(
      $left: calc(50vw - #{map-get($breakpoints, large)} / 2 + #{$extra-padding-left}),
      $right: calc(50vw - #{map-get($breakpoints, large)} / 2 + #{$extra-padding-right})
    );
  }
}
