$system-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-bold: 700;

$font-families: (
  normal: 'Work Sans',
  branding: 'Brother'
);

$font-sizes: (
  -2: 12,
  -1: 14,
   0: 16,
   1: 18,
   2: 20,
   3: 24,
   4: 32,
   5: 36,
   6: 40,
   7: 48,
   8: 60,
   9: 72
);

$font-size-base: map-get($font-sizes, 0);

$font-weights: (
  light:  300,
  normal: 400,
  bold:   600,
  black:  700
);

$line-heights: (
  loose:   2.0,
  relaxed: 1.75,
  normal:  1.5,
  tight:   1.25,
  none:    1.0
);

@function font-family($family: normal) {
  @return unquote('#{map-get($font-families, $family)}, #{$system-font-stack}');
}

@function font-size($scale: 0) {
  @return unquote('#{map-get($font-sizes, $scale) / $font-size-base}rem');
}

@function font-weight($weight: normal) {
  @if(map-has-key($font-weights, $weight)) {
    @return map-get($font-weights, $weight);
  } @else {
    @return $weight;
  }
}

@function line-height($line-height: normal) {
  @if(map-has-key($line-heights, $line-height)) {
    @return map-get($line-heights, $line-height);
  } @else {
    @return $line-height;
  }
}
