$themes: (
  light: (
    background: white,
    foreground: color(grey, 900),
    accent: color(tomato, 500),
    highlight: color(tomato, 200),
    highlight-text: color(tomato, 800),
    link: color(tomato, 600),
    error: color(tomato, 700),
    text: color(grey, 900, primary),
    secondary: color(grey, 900, secondary),
    disabled: color(grey, 900, disabled),
    border: color(grey, 900, border),
    hover: color(tomato, 500, hover),
    unhover: color(tomato, 500, 0),
    panel: color(grey, 100),
    outline: color(tomato, 500, border),
    unfocused: color(tomato, 500, 0),
    ripple: color(grey, 300),
    scrim: color(grey, 900, secondary),
    beginner: color(mint, 500),
    intermediate: color(grape, 500),
    advanced: color(plum, 500),
    icon: color(grey, 400),
    menu-background: white
  ),
  dark: (
    background: color(grey, 800),
    foreground: color(grey, 100),
    accent: color(tomato, 500),
    highlight: color(tomato, 800),
    highlight-text: color(tomato, 100),
    link: color(tomato, 400),
    error: color(tomato, 300),
    text: color(grey, 100, primary),
    secondary: color(grey, 100, secondary),
    disabled: color(grey, 100, disabled),
    border: color(grey, 100, border),
    hover: color(tomato, 500, hover),
    unhover: color(tomato, 500, 0),
    panel: color(grey, 900),
    outline: color(tomato, 500, secondary),
    unfocused: color(tomato, 500, 0),
    ripple: color(grey, 700),
    scrim: color(grey, 900, secondary),
    beginner: color(mint, 500),
    intermediate: color(grape, 500),
    advanced: color(plum, 500),
    icon: color(grey, 600),
    menu-background: color(grey, 900)
  )
);

$levels: (
  beginner: mint,
  intermediate: grape,
  advanced: plum
);

@function themed($key, $map: $theme-map) {
  @return map-get($map, $key);
}

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    [data-theme="#{$theme}"] & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;

      $theme-map: null !global;
    }
  }
}
