@import "../../../styles/base";

.registration-form {
  position: relative;
  padding-bottom: 3.5rem;

  .loader {
    position: fixed;
  }

  &__title {
    margin: 0;
    padding: $spacing $spacing 0;
    font-size: font-size(4);
    font-weight: font-weight(light);
    text-align: center;

    @media(medium) {
      font-size: font-size(6);
    }
  }

  &__header,
  &__footer {
    z-index: 3;
    backdrop-filter: blur(4px);
  }

  &__header {
    padding: ($padding / 2) $padding;
  }

  &__footer {
    @include autopad;
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    z-index: 4;

    .footer__buttons {
      display: flex;
      align-items: center;

      .button {
        margin-left: $spacing / 2;
      }
    }
  }

  &__cart {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3.5rem;
    font-size: font-size(-1);
    line-height: line-height(tight);

    .cart__icon {
      position: absolute;
      top: 50%;
      left: 0;
      width: 2.5rem;
      height: 2.5rem;
      margin: -1.25rem 0;
      border-radius: 50%;
    }

    .cart__workshop-count {
      font-weight: font-weight(bold);
    }

    .cart__value {
      text-decoration: line-through;
    }

    @include themify {
      .cart__icon {
        background: $white;
        color: themed(accent);
      }

      .cart__value {
        margin-right: 0.5em;
        color: themed(disabled);
        text-decoration-color: themed(accent);

        .price__currency {
          display: none;
        }
      }
    }
  }

  &__pager {
    max-width: 100vw;
    min-height: calc(100vh - 9rem);
    transition: transition(opacity);
  }

  &--busy .registration-form__pager {
    opacity: opacity(disabled);
    pointer-events: none;
    touch-action: none;
  }

  .page {
    &--left--enter,
    &--right--enter,
    &--left--exit,
    &--right--exit {
      position: absolute;
      right: 0;
      left: 0;

      &-active {
        transition: transition(transform opacity, $duration: 500ms);
      }
    }

    &--left--enter,
    &--right--exit-active {
      transform: translateX(100%);
      opacity: 0;
    }

    &--left--exit-active,
    &--right--enter {
      transform: translateX(-100%);
      opacity: 0;
    }

    &--left--enter,
    &--right--enter {
      &-active {
        transform: translateX(0);
        opacity: 1;
      }

      &-done {
        position: static;
      }
    }
  }

  &__heading {
    margin: $spacing 0;
    font-size: font-size(3);
    font-weight: font-weight(light);

    @include media(medium) {
      font-size: font-size(4);

      .badge {
        margin-right: 0.75rem;
        margin-left: -3.75rem;
      }
    }
  }

  &__section {
    @include autopad;
    margin: 0 auto;
    padding-bottom: $padding * 2;

    .field {
      position: relative;
      margin-bottom: $spacing * 2;

      > .icon {
        display: none;

        @include media(medium) {
          display: block;
          position: absolute;
          top: calc(#{line-height(normal)} * #{font-size(-1)} + 0.5rem);
          left: -3.5rem;
        }
      }
    }

    .field-row {
      + .hint {
        margin-bottom: $spacing * 2;
      }

      @include media(medium) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;

        .field {
          flex: 1 0 auto;
          margin-bottom: 0;

          &:not(:first-of-type) {
            margin-left: $spacing;

            .icon {
              display: none;
            }
          }
        }
      }
    }
  }

  &__code-of-conduct {
    .read-everything {
      position: relative;
      height: calc(100vh - 16rem);
      margin: 0 (-$padding) $spacing;
      padding: $padding;
      border: 1px solid transparent;
      border-width: 1px 0;

      .loader {
        ~ * {
          display: none;
        }
      }

      @include themify {
        border-color: themed(border);
        background: themed(panel);
      }

      @include media(medium) {
        margin: 0 0 $spacing;
        border-width: 1px;
        border-radius: $border-radius;
      }
    }

    .checkbox {
      padding-left: 0.5rem;
    }
  }

  &__workshops {
    @include horizontal-padding(0);

    .registration-form__heading,
    > p {
      @include autopad;
      @include vertical-padding(0);
    }

    .card {
      position: relative;
    }

    .timeslot__activities {
      grid-template-columns: 1fr;

      @include media(medium) {
        grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
      }
    }
  }

  &__workshop {
    padding: 0.5rem $keyline;
    cursor: pointer;
    overflow: hidden;

    .card__image {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      transition: transition(filter opacity);
      opacity: 0.15;
      will-change: filter, opacity;
      filter: grayscale(0.85);
    }

    .card__title,
    .card__description {
      margin: 0;
      padding: 0;
    }

    .workshop__info {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      border-radius: 50%;

      .button__icon {
        z-index: unset;
      }

      .button__text {
        display: none;
      }

      .ripple__container {
        border-radius: 50%;
      }

      @include themify {
        padding: 0.5rem;
        border: 0;
        color: themed(secondary);
      }
    }

    .workshop__position {
      position: absolute;
      top: 0.75rem;
      left: 0.75rem;
      width: 2rem;
      height: 2rem;
      padding: 0.25rem;
      font-size: font-size(2);
      font-weight: font-weight(bold);
      line-height: 1.5rem;

      @include themify {
        background: themed(panel);
      }

      .button__text {
        padding: 0;
        z-index: unset;
      }

      .button__ripple {
        border-radius: 50%;
      }
    }

    @include themify {
      &.registration-form__workshop--selected {
        .workshop__position {
          background: color(apple);
          color: $white;
        }
      }
    }

    .workshop__levels {
      display: flex;

      .level {
        margin-right: 0.25rem;
      }
    }

    .workshop__full {
      @include all-caps;
      display: inline-block;
      position: relative;
      margin: 0 auto 0.25rem 0;
      padding: 0 0.5rem;
      border-radius: 0.25rem;
      background: color(tomato);
      color: $white;
      font-size: font-size(-1);
      font-weight: font-weight(bold);
      line-height: 1.5;
    }

    &,
    &:hover {
      @include elevation(1);
    }

    &[aria-selected] {
      @include elevation(4);

      .card__image {
        filter: grayscale(0);
      }
    }

    &[aria-disabled] {
      @include elevation(0);

      .card__image {
        border-radius: $border-radius;
        filter: grayscale(0.85);
      }

      .workshop__levels {
        opacity: opacity(disabled);
      }

      .workshop__full {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      @include themify {
        .card__title,
        .card__description,
        .button__text {
          color: themed(disabled);
        }
      }
    }

    @include media(medium) {
      padding: 0;
      overflow: visible;

      .card__image {
        position: relative;
        margin-bottom: 0.5rem;
        opacity: 0.75;
      }

      &[aria-selected] {
        .card__image {
          opacity: 1;
        }
      }

      .card__title,
      .card__description {
        margin: 0 0.75rem;
      }

      .workshop__levels {
        margin: 0.5rem 0.75rem 0;
      }

      .workshop__full {
        margin: -2.5em 0 0.5rem;
        padding: 0.25em;
        border-radius: 0;
        text-align: center;
      }

      @include themify {
        .workshop__info {
          position: relative;
          top: 0;
          right: 0;
          padding: 0.5rem 0.25rem;
          border-radius: 0 0 $border-radius $border-radius;

          &:focus {
            background: themed(panel);
            box-shadow: none;
          }

          .button__icon {
            display: none;
          }

          .button__text {
            display: block;
            font-size: font-size(-1);
            text-align: left;
            z-index: unset;
          }

          .ripple__container {
            border-radius: 0 0 $border-radius $border-radius;
          }
        }

        .workshop__position {
          background: change-opacity($white, 0.9);
        }
      }
    }
  }

  &__show-times {
    margin: 0 0 $spacing;
  }

  &__show-roles {
    .tags {
      margin: ($spacing / 2) 0;
    }
  }

  &__payment {
    .note {
      position: relative;
      margin: 0 0 $spacing;
      padding: $padding;
      border-radius: $border-radius;
      font-size: font-size(-1);

      .icon {
        display: none;
      }

      p {
        margin: 0;
      }

      @include themify {
        background: themed(info-panel);

        .icon {
          color: themed(info-panel-icon);
        }
      }

      @include media(medium) {
        padding-left: $padding * 2 + $icon-size;
        font-size: inherit;

        .icon {
          display: block;
          position: absolute;
          top: $padding;
          left: $padding;
        }
      }
    }

    .payment-summary {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;

      .icon {
        display: block;
      }

      td,
      th {
        padding: ($padding / 2) $padding;
        text-align: left;
        white-space: nowrap;
        vertical-align: middle;

        &:first-child {
          display: none;
        }

        &:nth-child(2) {
          width: 99%;
        }

        &:last-child {
          text-align: right;
        }
      }

      @include themify {
        .subtotal,
        .total {
          th,
          td {
            border-top: 1px solid themed(border);
          }
        }
      }

      @include media(medium) {
        td:first-child {
          display: table-cell;
          padding-right: 0;
        }

        font-size: font-size(1);
      }
    }

    .payment-method-selector {
      padding: $padding 0;

      &__heading {
        font-size: font-size(2);
        font-weight: font-weight(normal);
      }

      .payment-method {
        margin: 0;
        padding: (15rem / 16);
        border: 1px solid transparent;
        border-radius: $border-radius;

        &__name {
          display: block;
          margin-bottom: 0.5rem;
          font-weight: font-weight(bold);
        }

        &__description {
          display: block;
          font-size: font-size(-1);
        }
      }

      @include media(medium) {
        .payment-methods {
          display: flex;
        }
      }
    }

    @include themify {
      .payment-method-selector {
        &__heading {
          color: themed(secondary);
        }

        .payment-method {
          &.checkbox--checked {
            border-color: themed(border);
            background: themed(panel);
          }

          &__description {
            color: themed(secondary);
          }
        }
      }
    }
  }

  &__financial-assistance {
    font-size: font-size(-1);

    h3 {
      font-size: font-size(2);
      font-weight: font-weight(normal);
    }
  }

  @include themify {
    &__header {
      border-bottom: 1px solid themed(border);
      background: change-opacity(themed(background), 0.9);
    }

    &__footer {
      border-top: 1px solid themed(border);
      background: change-opacity(themed(panel), 0.9);
    }

    &__financial-assistance {
      h3 {
        color: themed(secondary);
      }
    }
  }
}

.workshop-details {
  &.modal {
    max-height: 100vh;
    overflow-y: auto;
    overscroll-behavior: contain;

    .header {
      @include horizontal-padding(0);
      min-height: unset;
      margin: 0 0 $spacing;

      &__title {
        padding: $spacing $padding 0;
        font-size: font-size(4);
      }

      .activity-details__presenter-names {
        padding: 0 $padding;
      }

      &__bottom {
        margin-left: $padding;
      }
    }

    @include media(medium) {
      max-height: calc(100vh - #{$spacing} * 2);

      .header {
        border-radius: $border-radius $border-radius 0 0;
      }
    }
  }

  &__levels {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 $padding;
  }

  &__description {
    padding: $padding;
  }

  .divider {
    margin: ($spacing * 2) 0;
  }

  &__presenter-name {
    margin: $spacing 0 ($spacing / 2);
    font-size: font-size(1);
    font-weight: font-weight(light);
  }
}

.registration-paused {
  @include autopad;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 67vh;

  .registration-form__title {
    padding: 0;
    text-align: left;
  }
}
