@import "../../../styles/base";

.registration-form {
  position: relative;
  padding-bottom: 3.5rem;

  &__title {
    margin: 0;
    padding: $spacing $spacing 0;
    font-size: font-size(4);
    font-weight: font-weight(light);
    text-align: center;

    @media(medium) {
      font-size: font-size(6);
    }
  }

  &__header,
  &__footer {
    z-index: 1;
    backdrop-filter: blur(4px);
  }

  &__header {
    padding: ($padding / 2) $padding;
  }

  &__footer {
    @include autopad;
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: space-between;

    .footer__buttons {
      display: flex;

      .button {
        margin-left: $spacing / 2;
      }
    }
  }

  &__pager {
    position: relative;
    min-height: 100vh;
  }

  &__page {
  }

  .page {
    &--left--enter,
    &--right--enter,
    &--left--exit,
    &--right--exit {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      &-active {
        transition: transition(transform, $duration: 500ms);
      }
    }

    &--left--enter,
    &--right--exit-active {
      transform: translateX(100%);
    }

    &--left--exit-active,
    &--right--enter {
      transform: translateX(-100%);
    }

    &--left--enter,
    &--right--enter {
      &-active {
        transform: translateX(0);
      }

      &-done {
        position: static;
      }
    }
  }

  &__heading {
    margin: $spacing 0;
    font-size: font-size(3);
    font-weight: font-weight(light);

    @include media(medium) {
      margin-left: -4.25rem;
      font-size: font-size(4);

      .badge {
        margin-right: 1.25rem;
      }
    }
  }

  &__section {
    @include autopad;
    margin: 0 auto;
    padding-bottom: $padding * 2;

    .field {
      position: relative;
      margin-bottom: $spacing * 2;

      > .icon {
        display: none;

        @include media(medium) {
          display: block;
          position: absolute;
          top: calc(#{line-height(normal)} * #{font-size(-1)} + 0.5rem);
          left: -3.5rem;
        }
      }
    }

    .field-row {
      > .hint {
        margin-bottom: $spacing * 2;
      }

      @include media(medium) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $spacing * 2;

        .field {
          flex: 1 0 auto;
          margin-bottom: 0;

          &:not(:first-of-type) {
            margin-left: $spacing;

            .icon {
              display: none;
            }
          }
        }

        > .hint {
          flex: 1 0 auto;
          order: 1;
          margin-bottom: 0;
        }
      }
    }
  }

  &__code-of-conduct {
    .read-everything {
      position: relative;
      height: calc(100vh - 16rem);
      margin: 0 (-$padding) $spacing;
      padding: $padding;
      border: 1px solid transparent;
      border-width: 1px 0;

      .loader {
        ~ * {
          display: none;
        }
      }

      @include themify {
        border-color: themed(border);
        background: themed(panel);
      }

      @include media(medium) {
        margin: 0 calc(-1px - #{$padding}) $spacing;
        border-width: 1px;
        border-radius: $border-radius;
      }
    }
  }

  @include themify {
    &__header {
      border-bottom: 1px solid themed(border);
      background: change-opacity(themed(background), 0.9);
    }

    &__footer {
      border-top: 1px solid themed(border);
      background: change-opacity(themed(panel), 0.9);
    }
  }
}
