.switch {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding: 0.5rem 0;

  [type="checkbox"],
  [type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;

    &:disabled {
      ~ * {
        opacity: opacity(disabled);
      }
    }
  }
}

.switch {
  &__icon {
    flex: 0 0 1.5em;
    order: 1;
    width: 1.5em;
    margin-left: $spacing;
    cursor: pointer;

    .track {
      transition: transition(fill, $duration: 0s, $delay: 0.1s);

      @include themify {
        fill: change-opacity(themed(border), 0);
      }
    }

    .thumb {
      transition: transition(transform);

      @include themify {
        fill: themed(background);
      }
    }

    :checked ~ & {
      .track {
        @include themify {
          fill: change-opacity(themed(icon), 0.5);
        }
      }

      .thumb {
        transform: translateX(12px);
      }
    }
  }

  &__label {
    flex: 1;
  }
}
