@import "../../../styles/base";

.incidents {
  &__header {
    .header__bottom {
      padding-bottom: 0;
    }

    .tags {
      padding: ($padding / 2) 0;

      .tag {
        text-transform: capitalize;
      }
    }
  }

  &__body {
    @include autopad;
  }

  &__list {
    margin: 0 -$padding;

    @include media(medium) {
      margin-left: -$keyline;
    }
  }
}
