@import "../../styles/base";

.activity-levels {
  display: flex;

  > :not(:last-child) {
    margin-right: 0.5rem;
  }
}

.activity-level {
  border-color: transparent;
  text-transform: capitalize;
  cursor: help;

  &--tiny {
    width: 1.5rem;
    padding: 0;
    font-weight: font-weight(bold);
    text-align: center;
  }

  @each $level, $color in $levels {
    &[data-level="#{$level}"] {
      background-color: color($color, 500);
      color: color($color, 100);
    }
  }
}
