.section--activities {

}

.activities__day {
  padding: $padding;

  @include media(medium) {
    @include constrained-width($keyline, $padding);
  }
}

.activities__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  grid-column-gap: $spacing;
  grid-row-gap: $spacing;
}

.activity {
  &__thumbnail--placeholder {
    display: block;
    position: relative;
    padding-top: 9 * 100% / 16;
    overflow: hidden;
  }
}

.activity-header {
  @include constrained-width($keyline, $padding);
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: #{100vw / 16 * 9};
  padding: $padding $padding $padding $keyline;
  background: linear-gradient(to right bottom, color(mandarin, 500), color(tomato, 500));
  color: white;
  overflow: hidden;

  @include media(small) {
    min-height: map-get($breakpoints, small) * 9 / 16;
  }

  @include media(medium) {
    .activity-header__name {
      font-size: font-size(8);
    }
  }

  &::before {
    flex: 1;
    content: "";
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;

    ~ * {
      position: relative;
      text-shadow: 0 0 0.5em color(tomato, 600);
    }
  }

  &__name {
    position: relative;
    margin: 0;
    font-size: font-size(4);
    font-weight: font-weight(light);
    line-height: line-height(tight);
  }

  &__presenters {
    position: relative;
    margin: 0;
    color: change-opacity(white, primary);
    font-size: font-size(1);
    font-weight: font-weight(normal);

    small {
      color: color(tomato, 100, primary);
      font-size: font-size(-1);
    }
  }

  &__edit {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    border-radius: 50%;

    .icon {
      color: color(tomato, 100, primary);
    }
  }

  .breadcrumbs {
    position: absolute;
    top: 0;
    left: $keyline;
    padding-top: 1rem;

    &.js-is-stuck {
      padding-top: 2rem;
    }

    &__link,
    &__back {
      color: color(tomato, 100, primary);
    }
  }
}

.activity-summary {
  @include constrained-width($keyline, $padding);
  padding-bottom: 0;
  font-size: font-size(-1);

  &__sessions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 -0.5rem;
  }

  &__session {
    @include themify {
      .activity-session__time {
        color: themed(secondary);
      }
    }

    position: relative;
    flex: 0 0 auto;
    margin: 0 $spacing 0.5rem 0;
    padding-right: $spacing;

    &::after {
      position: absolute;
      top: 0%;
      right: 0;
      bottom: 0;
      transform: skew(-15deg);
      border-right: 1px solid color(grey, 900, border);
      content: "";
    }

    &:last-child {
      margin: 0;
      padding-right: 0;

      &::after {
        display: none;
      }
    }

    .activity-session__date,
    .activity-session__time {
      display: block;
    }

    .activity-session__time {
    }
  }
}

.activity-description,
.activity-presenters {
  @include constrained-width($keyline, $padding);
  padding-top: 0;
  line-height: line-height(relaxed);
}

.activity-description {
  .associated {
    padding-left: $padding;
    border-left: 0.25rem solid color(tomato);
  }
}

.activity-presenters {
  padding-top: $padding;

  @include themify {
    background: themed(panel);

    .presenter-details__name {
      small {
        color: themed(secondary);
      }
    }
  }

  &:empty {
    display: none;
  }

  .presenter-details {
    position: relative;
    margin: $spacing 0;

    &__avatar {
      position: absolute;
      top: calc((#{font-size(2)} * #{line-height(relaxed)} - 2.5rem) / 2);
      left: -3.5rem;
    }

    &__name {
      margin: 0 0 ($spacing / 2);
      font-size: font-size(2);
      font-weight: font-weight(normal);

      small {
        font-size: font-size(1);
      }
    }

    &__bio {
      font-size: font-size(-1);
    }
  }
}
