.icon {
  @include themify {
    color: themed(icon);
  }

  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 1.5em;
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
