.list {
  margin: 0;
  padding: $padding 0;
  list-style: none;

  &__item,
  &__link {
    display: flex;
    align-items: center;
    margin: 0;
    padding: ($padding / 2) $padding;
  }

  &__link {
    flex: 1;
    margin: ($padding / -2) (-$padding);
    color: inherit;
  }

  &__icon {
    flex: 0 0 auto;
    margin-right: $spacing;
  }

  &__details {
    flex: 1;

    > * {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__subtitle {
    font-size: font-size(-2);
  }

  @include themify {
    &__subtitle {
      color: themed(secondary);
      font-weight: font-weight(light);
    }
  }
}
