p {
  margin: 0 0 $spacing;
}

.page-title {
  margin: 0;
  font-size: font-size(4);
  font-weight: font-weight(light);
  line-height: line-height(tight);

  @include media(medium) {
    font-size: font-size(7);
  }
}
