@import "./base";
@import "./theme/effects";
@import "./layers";
@import "./transitions/index";
@import "./typography";
@import "./lists";
@import "./tooltips";
@import "./forms/index";

@import "./layout";
@import "./components/index";
@import "./static";
@import "./festivals/index";
@import "./activities";
@import "./pitches";
@import "./profiles";
@import "./map";
@import "./log_in/index";
@import "./admin/index";
@import "./environment";

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: hsla(0, 0, 0, 0);
}

body {
  @include themify {
    background-color: themed(background);
    color: themed(text);
  }

  margin: 0;
  padding: 0;
  font-family: font-family(normal), $system-font-stack;
  font-size: #{$font-size-base}px;
  line-height: line-height(normal);
  overflow-x: hidden;
}

