@import "./layers";
@import "./theme";
@import "./icons";
@import "./tooltips";
@import "./forms";

@import "./components";
@import "./festivals";
@import "./activities";
@import "./log_in";
@import "./admin";

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: hsla(0, 0, 0, 0);
}

body {
  @include themify {
    background-color: themed(background);
    color: themed(text);
  }

  margin: 0;
  padding: 0;
  font-family: font-family(normal);
  font-size: #{$font-size-base}px;
  line-height: line-height(normal);
}

