.venues-with-map {
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100vh - 3.5rem);
}

.venue-list {
  @include themify {
    background: change-opacity(themed(background), 0.9);

    .venue__address {
      color: themed(secondary);
    }

    &__venue {
      &[aria-selected] {
        background: themed(highlight);
        color: themed(highlight-text);

        .venue__address,
        .icon {
          color: change-opacity(themed(highlight-text), secondary);
        }
      }
    }
  }

  @include elevation(4);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $padding 0;
  z-index: 1;

  @include media(medium) {
    top: 0;
    right: auto;
    max-width: 16rem;
  }

  &__venues {
    margin: 0;
    padding: 0.5rem 0;
    list-style: none;
  }

  &__venue {
    display: flex;
    align-items: center;
    padding: 0.5rem $padding;
    cursor: pointer;

    .icon {
      margin-right: $padding;
    }

    .venue__details {
      flex: 1 1 0;
      min-width: 0;
    }

    .venue__name,
    .venue__address {
      display: block;
      line-height: line-height(tight);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .venue__address {
      font-size: font-size(-1);
      font-style: normal;
    }
  }
}

.venue-map {
  flex: 1;
}
