.venues-with-map {
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100vh - 3.5rem);
}

.venue-list {
  @include elevation(4);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $padding 0;
  z-index: 1;

  @include media(medium) {
    top: 0;
    right: auto;
    width: 24rem;
  }

  .list-item {
    cursor: pointer;
  }

  @include themify {
    background: change-opacity(themed(background), 0.9);
  }
}

.venue-map {
  flex: 1;
}
