@import "../../../styles/base";

.dashboard {
  @include autopad;
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-column-gap: $spacing;
  grid-row-gap: $spacing;

  @include media(medium) {
    padding-top: $spacing * 2;
    padding-bottom: $spacing * 2;
  }

  .panel {
    @include elevation(2);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 20rem;
    padding: $padding;
    border-radius: $border-radius;

    &__title {
      @include all-caps;
      margin: 0;
      font-size: font-size(-1);
    }

    .counter {
      flex: 1;
      align-items: center;
      padding: $spacing 0;
      font-size: font-size(8);
    }

    > .button {
      justify-content: center;
      order: 1;
    }
  }

  &__panic {
    .panic-button {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      font-size: font-size(6);

      :checked {
        ~ .toggle-switch__track {
          background: color(tomato, 700);
        }
      }
    }

    p {
      order: 1;
      margin: 0;
      line-height: 2.5rem;
      text-align: center;
    }
  }

  @include themify {
    .panel {
      background: themed(panel);

      &__title {
        color: themed(secondary);
      }
    }
  }
}
