@import "../../styles/base";

.day {
  &__date {
    @include autopad;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: font-size(3);
    font-weight: font-weight(light);
    line-height: 2rem;
    text-indent: 4.5em;
    z-index: 2;
    backdrop-filter: blur(4px);

    @include themify {
      background: rgba(themed(background), 0.85);
      color: themed(primary);
    }

    &::before {
      content: attr(data-short);

      @include media(medium) {
        content: attr(data-long);
      }
    }
  }

  .timeslot {
    &:not(:first-of-type) {
      margin-top: 3rem;
    }
  }
}
