@import "../../../styles/base";

.edit-activity {
  .edit-activity__name {
    margin: 0;
    padding: 0;
    border: 0;
  }

  &__slug {
    margin: 0;

    .text-field {
      margin: 0;
    }

    .slug__copy {
      @include themify {
        color: themed(icon);

        &:hover,
        &:focus {
          color: themed(primary);
          box-shadow: none;
        }
      }
    }
  }

  &__details {
    @include autopad;
    @include vertical-padding($padding * 2);

    .field {
      margin-bottom: $spacing * 2;
    }

    .tags {
      padding: 0.5rem 0 0.25rem;

      .tag__text {
        text-transform: capitalize;
      }
    }
  }
}
