@import "../../styles/base";

.list-item {
  display: block;

  &__wrapper {
    display: flex;
    align-items: center;
    margin: 0;
    padding: ($padding / 2) $padding;
  }

  &__content {
    flex: 1;

    span {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__icon {
    &:first-child {
      margin-right: $keyline - $padding - $icon-size;
    }

    &:last-child {
      margin-left: 1rem;
    }
  }

  &__avatar {
    margin-right: $keyline - $padding - $avatar-size;

    ~ .icon {
      order: 1;
      margin-right: 0;
      margin-left: $padding;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__secondary {
    font-size: font-size(-1);
    font-weight: font-weight(light);

    @include themify {
      color: themed(secondary);
    }
  }
}
