@import "../../../styles/base";

.pitches {
  &__filters {
    margin-top: $spacing;

    .tags {
      margin-bottom: $spacing / 2;
    }
  }

  &__count {
    @include constrained-width(0rem);
    display: flex;
    align-items: center;
    margin: 0 $padding 0 $keyline;

    > span {
      flex: 1;
    }

    @include themify {
      color: themed(secondary);
    }
  }

  .pitches__list {
    @include constrained-width(0rem);
  }

  @include themify {
    .pitches__list {
      border-top: 0;
    }
  }
}

.pitch-details {
  &__presenters {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0 $spacing;

    .chip {
      margin: 0.5rem 0.5rem 0 0;
    }
  }

  &__section {
    @include constrained-width($keyline, $padding);

    @include themify {
      border-bottom: 1px solid themed(border);
    }
  }

  &__answer {
    padding: 0 0 $padding;

    .label {
      margin: $spacing 0;
    }
  }

  &__slots {
    margin: 0;
    padding: 0 0 $spacing;
    list-style: none;
  }

  &__slot {
    margin: 0 0 ($spacing / 2);
    padding: 0;

    b,
    small {
      display: block;
    }

    small {
      font-size: inherit;
    }
  }
}

.printable {
  &__ready {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding;

    @media print {
      display: none;
    }
  }

  &__content {
    @media screen {
      display: none;
    }

    @media print {
      font-size: 11pt;

      .pitch-details {
        break-after: always;
      }

      .breadcrumbs,
      .chip__avatar,
      .tag:not(.tag--selected) {
        display: none;
      }

      .chip__name {
        padding: 0;
      }

      .header__bottom {
        margin-left: 1rem;
      }

      .pitch-details__tags {
        display: flex;
      }

      .pitch-details__answer {
        padding: 0;
        font-size: 10px;

        label {
          font-size: 10px;
        }
      }

      .pitch-details__section {
        padding: 0 1rem 1rem;
        border-bottom: 0;
      }

      .header {
        min-height: 0;
      }

      .header__title,
      .section-title {
        color: black;
        font-size: 13px;
        font-weight: font-weight(normal);
      }

      .header__title {
        font-size: 20px;
      }

      * {
        color: black !important;
      }
    }
  }
}
