.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: font-size(-1);

  &::after {
    flex: 1;
    content: "";
  }

  &__link {
    @include themify {
      color: themed(secondary);
    }

    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &__back {
    @include themify {
      color: themed(secondary);
    }

    flex: 0 0 3.5rem;
    margin: 0 0.5rem 0 -4rem;
    padding: 0.5rem;
    font-size: font-size(0);

    .icon {
      color: inherit;
    }
  }
}
