.button {
  @include themify {
    color: themed(accent);
    box-shadow: 0 0 0 0 themed(unfocused);

    &:focus {
      box-shadow: 0 0 0 .25em themed(outline);
    }

    &--primary {
      background-color: themed(accent);
      color: white;
    }
  }

  display: flex;
  position: relative;
  align-items: center;
  margin: 0;
  padding: calc(0.5em - 1px);
  transition: transition(all);
  border: 1px solid currentColor;
  border-radius: $border-radius;
  outline: none;
  background: none;
  font: inherit;
  cursor: pointer;
  appearance: none;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    touch-action: none;
  }

  + & {
    margin-left: .5em;
  }

  &__text {
    padding: 0 .5em;
  }

  &__icon {
    display: block;
    color: inherit;
  }

  &--primary {
    padding: 0.5em;
    border: 0;
  }

  &--icon {
    border-radius: 50%;
  }
}
