.footer {
  @include constrained-width;

  min-height: 6rem;
  background: color(grey, 600);
  color: color(grey, 200);
  font-size: font-size(-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &__link {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
    color: color(grey, 200, primary);
    text-decoration: none;

    .icon {
      margin-right: 0.5rem;
      color: inherit;
      font-size: 1rem;
      opacity: opacity(secondary);
    }

    .link__text {
    }

    &:hover,
    &:focus,
    &--active {
      color: white;
    }
  }
}
