.footer {
  min-height: 6rem;
  padding: $padding;
  background: color(grey, 600);
  color: color(grey, 200);
  font-size: font-size(-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__link {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0.25rem 0;
    transition: transition(color);
    color: color(grey, 200, primary);
    text-decoration: none;

    .icon {
      margin-right: 0.5rem;
      color: inherit;
      font-size: 1rem;
      opacity: opacity(secondary);
    }

    .link__text {
      line-height: 1;
    }

    &:hover,
    &:focus,
    &--active {
      outline: none;
      color: white;
      opacity: 1;

      .icon {
        opacity: 1;
      }
    }
  }
}
