.text-link {
  @include themify {
    background-color: themed(unhover);
    color: themed(link);

    &:hover,
    &:focus {
      outline: none;
      background-color: themed(unhover);
    }
  }

  margin: 0 -0.25em;
  padding: 0 0.25em;
  transition: transition(background-color);
  border-radius: $border-radius;
  text-decoration: none;
}
