@keyframes skeleton-shimmer {
  0%{
    background-position: 100% 0;
  }
  100%{
    background-position: 0% 0;
  }
}

.skeleton-text {
  display: inline-block;

  &--loading {
    @include themify {
      $base: themed(text);

      background: change-opacity($base, 0.15)
        linear-gradient(to right, #{change-opacity($base, 0)} 25%, #{change-opacity($base, 0.1)} 50%, #{change-opacity($base, 0) 75%});
      background-repeat: no-repeat;
      background-size: 400% 100vh;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    font-family: font-family(skeleton);
    letter-spacing: -0.1em;
    animation: skeleton-shimmer 3s linear infinite forwards;
  }
}
