.tabs {
  @include themify {
    border-bottom: 1px solid themed(border);
  }

  display: flex;
  position: relative;

  &--highlight {
    @include themify {
      background: themed(accent);
    }

    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    height: 0.25rem;
    margin: 0;
    transform-origin: 0 0;
    border: 0;

    &[data-animate] {
      transition: transition(transform opacity);
    }
  }

  &__tab {
    @include themify {
      color: themed(secondary);

      &--active {
        color: themed(text);
      }
    }

    min-width: 1%;
    margin-bottom: -1px;
    padding: 0.5rem 1rem;

    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
