.slide {
  &-enter,
  &-left-enter,
  &-right-enter {
    position: relative;
    opacity: 0;
  }

  &-exit,
  &-left-exit,
  &-right-exit {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    opacity: 1;
  }

  &-enter,
  &-left-enter,
  &-right-enter {
    transform: translateX(100%);

    &-active {
      transform: translateX(0);
      transition: transition(transform opacity, $duration: 500ms);
      opacity: 1;
    }
  }

  &-exit,
  &-left-exit,
  &-right-exit {
    transform: translateX(0);

    &-active {
      transform: translateX(-100%);
      transition: transition(transform opacity, $duration: 500ms);
      opacity: 0;
    }
  }

  &-right {
    &-enter {
      transform: translateX(-100%);

      &-active {
        transform: translateX(0);
      }
    }

    &-exit {
      transform: translateX(0);

      &-active {
        transform: translateX(100%);
      }
    }
  }

  &-left {
    &-enter {
      transform: translateX(100%);

      &-active {
        transform: translateX(0);
      }
    }

    &-exit {
      transform: translateX(0);

      &-active {
        transform: translateX(-100%);
      }
    }
  }
}
