@import "../../styles/base";

.icon {
  @include themify {
    color: themed(icon);
  }

  display: inline-block;
  flex: 0 0 auto;
  width: 1em;
  height: 1em;
  font-size: $icon-size;
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
