@import "../../styles/base";

.tag {
  display: inline-block;
  margin: 0 0.25rem 0.25rem 0;
  padding: 0 0.5rem;
  border: 1px solid currentColor;
  border-radius: 0.75rem;
  font-size: font-size(-1);
  line-height: 1.375rem;
  cursor: pointer;
  user-select: none;

  &--selected {
    background: currentColor;

    .tag__text {
      color: white;
    }
  }

  @include themify {
    color: themed(accent);
  }
}
